@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* fondo fijo, centrado y cubriendo */
  background: url('/gato-libro.webp') center/cover fixed no-repeat;

  /* opcional: un leve tinte oscuro para asegurar contraste */
   background-color: rgba(0, 0, 0, 0.3); 
   background-blend-mode: overlay; 
}
